name: CI/CD Pipeline Simulation

on:
  push:
    branches: [ "main" ]

jobs:
  build-and-push:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Log in to Docker Hub
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKER_USERNAME }}
          password: ${{ secrets.DOCKER_PASSWORD }}

      - name: Build and push Docker image
        uses: docker/build-push-action@v5
        with:
          context: .
          push: true
          # Replace 'njmcclay' with your actual Docker Hub username
          tags: ${{ secrets.DOCKER_USERNAME }}/project-1:latest

deploy:
    runs-on: ubuntu-latest
    needs: build-and-push # Only runs if the build succeeds
    steps:
      - name: Executing remote ssh commands to deploy
        uses: appleboy/ssh-action@master
        with:
          host: ${{ secrets.SERVER_HOST }}
          username: ${{ secrets.SERVER_USER }}
          key: ${{ secrets.SSH_PRIVATE_KEY }}
          script: |
            docker pull ${{ secrets.DOCKER_USERNAME }}/project-1:latest
            docker stop project-1-container || true
            docker rm project-1-container || true
            docker run -d --name project-1-container -p 80:80 ${{ secrets.DOCKER_USERNAME }}/project-1:latest
